// app global css in SCSS form
@windicss;

// -==[ Disables the autofill background in inputs]==-
input, select {
  color: white !important;
  -webkit-text-fill-color: white !important;
  -webkit-background-clip: text !important;
  background-clip:  text !important;
}
// -==[ Disables the autofill background in inputs]==-

// -==[ Glass Effect ]==-
.bg-glass{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(3rem);
  -webkit-backdrop-filter: blur(3rem);
  // border: 1px solid rgba(#17141d, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.418),
}
// -==[ Glass Effect ]==-

// -==[ Gradient Background ]==-
.bg-gradient, .container  {
  background: linear-gradient(90deg,var(--q-primary),var(--q-secondary));
}
// -==[ Gradient Background ]==-

// -==[ Scrollbar ]==-
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.0);
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-track:hover {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--q-primary);
  border-radius: 20px;

  border: 3px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--q-primary);
  border-radius: 20px;

  border: 3px solid transparent;
  background-clip: content-box;
}
// -==[ Scrollbar ]==-
